.TasksView {
  align-items: center;
}

.Task {
  padding: 0.5rem;
  opacity: 1;
}

.Task.Done {
  opacity: 0.5;
}

.TaskText {
  margin-left: 1rem;
  flex-grow: 1;
}

@media (min-width: 768px) {
  .TasksContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
  }

  .Task {
    flex: 0 0;
    flex-grow: 1;
    flex-basis: 200px;
    min-width: 200px;
    max-width: 20vw;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--shadow);
    box-sizing: border-box;
  }

  .Task:hover {
    box-shadow: 0 2px 8px var(--shadow-changed);
  }
}

.Task.Priority1 button.MarkAsDone {
  --primary: var(--priority-1);
  --primary-changed: var(--priority-1-changed);
}

.Task.Priority2 button.MarkAsDone {
  --primary: var(--priority-2);
  --primary-changed: var(--priority-2-changed);
}

.Task.Priority3 button.MarkAsDone {
  --primary: var(--priority-3);
  --primary-changed: var(--priority-3-changed);
}

