.TasksView {
  align-items: center;
}

.Task {
  padding: 0.5rem;
  opacity: 1;
}

@media (min-width: 1000px) {
  .TasksView {
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: auto;
    align-items: flex-start;
  }

  .TaskGroup .SectionTitle {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  .TasksContainer,
  .TasksContainer .Task:last-child {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  .TaskGroup {
    border-radius: var(--border-radius);
  }
}

.Task.Done {
  opacity: 0.5;
}

.TaskText {
  margin-left: 1rem;
  flex-grow: 1;
}

.Task.Priority1 button.MarkAsDone {
  --primary: var(--priority-1);
  --primary-changed: var(--priority-1-changed);
}

.Task.Priority2 button.MarkAsDone {
  --primary: var(--priority-2);
  --primary-changed: var(--priority-2-changed);
}

.Task.Priority3 button.MarkAsDone {
  --primary: var(--priority-3);
  --primary-changed: var(--priority-3-changed);
}

